<?xml version="1.0"?>
<config>
    <modules>
        <AW_Referafriend>
            <version>1.4.3</version><platform>ce</platform>
        </AW_Referafriend>
    </modules>
    <frontend>
        <translate>
            <modules>
                <AW_Referafriend>
                    <files>
                        <default>AW_Referafriend.csv</default>
                    </files>
                </AW_Referafriend>
            </modules>
        </translate>
        <routers>
            <referafriend>
                <use>standard</use>
                <args>
                    <module>AW_Referafriend</module>
                    <frontName>referafriend</frontName>
                </args>
            </referafriend>
        </routers>
        <layout>
            <updates>
                <referafriend>
                    <file>referafriend.xml</file>
                </referafriend>
            </updates>
        </layout>
        <events>
           <http_response_send_before>
                    <observers>
                         <modifyheader>
                           <type>singleton</type>
                           <class>AW_Referafriend_Model_Observer</class>
                           <method>provideIE9Compatibility</method>
                         </modifyheader>
                    </observers>
           </http_response_send_before>
            <customer_save_before>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>preProcessInvite</method>
                    </referafriend>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>processInvite</method>
                    </referafriend>
                </observers>
            </customer_save_after>
           </events>
    </frontend>
    <admin>
        <routers>
        <referafriend_admin>
            <use>admin</use>
            <args>
                <module>AW_Referafriend</module>
                <frontName>referafriend_admin</frontName>
            </args>
        </referafriend_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Referafriend>
                    <files>
                        <default>AW_Referafriend.csv</default>
                    </files>
                </AW_Referafriend>
            </modules>
        </translate>
        <menu>
            <referafriend translate="title" module="referafriend">
                <title>Refer a Friend</title>
                <sort_order>51</sort_order>
                <children>
                    <rules translate="title">
                        <title>Manage Rules</title>
                        <sort_order>1</sort_order>
                        <action>referafriend_admin/adminhtml_rules</action>
                    </rules>
                    <stats translate="title">
                        <title>Statistics</title>
                        <sort_order>2</sort_order>
                        <action>referafriend_admin/adminhtml_stats</action>
                    </stats>
                    <config translate="title">
                        <title>Configuration</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/referafriend</action>
                    </config>
                </children>
            </referafriend>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <referafriend>
                            <title>Refer a Friend</title>
                            <children>
                                <rules translate="title">
                                    <title>Manage Rules</title>
                                    <sort_order>1</sort_order>
                                </rules>
                                <stats translate="title">
                                    <title>Statistics</title>
                                    <sort_order>2</sort_order>
                                </stats>
                                <config translate="title">
                                    <title>Configuration</title>
                                    <sort_order>3</sort_order>
                                </config>
                            </children>
                        </referafriend>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <referafriend>
                                            <title>aheadWorks - Refer a Friend Settings Section</title>
                                        </referafriend>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <referafriend>
                    <file>referafriend.xml</file>
                </referafriend>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <referafriend>
                <class>AW_Referafriend_Model</class>
                <resourceModel>referafriend_mysql4</resourceModel>
            </referafriend>
            <referafriend_mysql4>
                <class>AW_Referafriend_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>aw_raf_rule</table>
                    </rule>
                    <invite>
                        <table>aw_raf_invite</table>
                    </invite>
                    <turnover>
                        <table>aw_raf_referral_turnover</table>
                    </turnover>
                    <discount>
                        <table>aw_raf_referrer_discount</table>
                    </discount>
                    <discounthistory>
                        <table>aw_raf_discount_history</table>
                    </discounthistory>
                    <usedlink>
                        <table>aw_raf_usedlink</table>
                    </usedlink>
                    <history>
                        <table>aw_raf_history</table>
                    </history>
                    <usedorders>
                        <table>aw_raf_used_orders</table>
                    </usedorders>
                    <usedsignups>
                        <table>aw_raf_used_signups</table>
                    </usedsignups>
                </entities>
            </referafriend_mysql4>
            <salesrule>
                <rewrite>
                    <validator>AW_Referafriend_Model_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <referafriend_setup>
                <setup>
                    <module>AW_Referafriend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </referafriend_setup>
            <referafriend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </referafriend_write>
            <referafriend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </referafriend_read>
        </resources>
        <blocks>
            <referafriend>
                <class>AW_Referafriend_Block</class>
            </referafriend>
        </blocks>
        <helpers>
            <referafriend>
                <class>AW_Referafriend_Helper</class>
            </referafriend>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>processTurnover</method>
                    </referafriend>
                </observers>
            </sales_order_save_after>
            <customer_save_before>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>updateCustomer</method>
                    </referafriend>
                </observers>
            </customer_save_before>
            <raf_discount_process>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>processDiscount</method>
                    </referafriend>
                </observers>
            </raf_discount_process>
            <!--
            <raf_rule_save_after>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>processDiscounts</method>
                    </referafriend>
                </observers>
            </raf_rule_save_after>
            !-->
            <raf_rule_delete_after>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>removeDiscounts</method>
                    </referafriend>
                </observers>
            </raf_rule_delete_after>
            <sales_quote_address_discount_item>
                <observers>
                    <referafriend>
                        <type>singleton</type>
                        <class>AW_Referafriend_Model_Observer</class>
                        <method>applyDiscount</method>
                    </referafriend>
                </observers>
            </sales_quote_address_discount_item>
        </events>
        <template>
            <email>
                <referafriend_invite_template translate="label" module="referafriend">
                    <label>Refer a Friend invitation</label>
                    <file>referafriend_invite.html</file>
                    <type>html</type>
                </referafriend_invite_template>
            </email>
        </template>
    </global>
    <default>
        <referafriend>
            <general>
                <purchase>1</purchase>
            </general>
            <invite>
                <enabled>1</enabled>
                <template>referafriend_invite_template</template>
                <allow_b_link>1</allow_b_link>
            </invite>
        </referafriend>
    </default>
</config>