<?xml version="1.0"?>
<config>
    <modules>
        <Xogenics_CleanCart>
            <version>0.0.1</version>
        </Xogenics_CleanCart>
    </modules>
    <global>
        <helpers>
            <cleancart>
                <class>Xogenics_CleanCart_Helper</class>
            </cleancart>
        </helpers>
        <resources>
            <cleancart_setup>
                <setup>
                    <module>Xogenics_CleanCart</module>              
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cleancart_setup>
            <config_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </config_write>
            <config_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </config_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <cleancart>
                    <file>cleancart.xml</file>
                </cleancart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <Xogenics_CleanCart>
                    <files>
                        <default>Xogenics_CleanCart.csv</default>
                    </files>
                </Xogenics_CleanCart>
            </modules>
        </translate>
        <acl>
            <resources>
	            <all>
	              <title>Allow Everything</title>
	            </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cleancart>
                                            <title>Xogenics CleanCart</title>
                                        </cleancart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
