<?xml version="1.0"?>
<config>
    <modules>
        <Eway_Rapid31>
            <version>1.3.0</version>
        </Eway_Rapid31>
    </modules>
    <global>
        <models>
            <ewayrapid>
                <class>Eway_Rapid31_Model</class>
                <resourceModel>ewayrapid_resource</resourceModel>
            </ewayrapid>
            <ewayrapid_resource>
                <class>Eway_Rapid31_Model_Resource</class>
            </ewayrapid_resource>
        </models>

        <blocks>
            <ewayrapid>
                <class>Eway_Rapid31_Block</class>
            </ewayrapid>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Eway_Rapid31_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <ewayrapid>
                <class>Eway_Rapid31_Helper</class>
            </ewayrapid>
        </helpers>
        <resources>
            <ewayrapid_setup>
                <setup>
                    <module>Eway_Rapid31</module>
                </setup>
            </ewayrapid_setup>
        </resources>
        <payment>
            <cc>
                <types>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club International</name>
                        <order>100</order>
                    </DC>
                    <VE>
                        <code>VE</code>
                        <name>Visa Electron</name>
                        <order>11</order>
                    </VE>
                    <ME>
                        <code>ME</code>
                        <name>Maestro</name>
                        <order>21</order>
                    </ME>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <Eway_Rapid31>
                    <files>
                        <default>Eway_Rapid31.csv</default>
                    </files>
                </Eway_Rapid31>
            </modules>
        </translate>
        <layout>
            <updates>
                <ewayrapid>
                    <file>ewayrapid/layout.xml</file>
                </ewayrapid>
            </updates>
        </layout>
        <routers>
            <ewayrapid>
                <use>standard</use>
                <args>
                    <module>Eway_Rapid31</module>
                    <frontName>ewayrapid</frontName>
                </args>
            </ewayrapid>
        </routers>

        <events>

            <controller_action_predispatch_ewayrapid_mycards_index>
                <observers>
                    <eway_rapid31_my_cards>
                        <type>singleton</type>
                        <class>ewayrapid/observer</class>
                        <method>myCards</method>
                    </eway_rapid31_my_cards>
                </observers>
            </controller_action_predispatch_ewayrapid_mycards_index>

            <!-- Event default -->
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <eway_rapid31_check_customer_mark>
                        <type>singleton</type>
                        <class>ewayrapid/observer</class>
                        <method>checkCustomerMark</method>
                    </eway_rapid31_check_customer_mark>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>

            <!--<sales_order_save_before>
                <observers>
                    <sales_order_save_before>
                        <class>ewayrapid/observer</class>
                        <method>hookToSaveOrderBefore</method>
                    </sales_order_save_before>
                </observers>
            </sales_order_save_before>

            <sales_order_save_after>
                <observers>
                    <sales_order_save_after>
                        <class>ewayrapid/observer</class>
                        <method>hookToSaveOrderAfter</method>
                    </sales_order_save_after>
                </observers>
            </sales_order_save_after>-->

            <sales_order_place_before>
                <observers>
                    <sales_order_place_before>
                        <class>ewayrapid/observer</class>
                        <method>sales_order_place_before</method>
                    </sales_order_place_before>
                </observers>
            </sales_order_place_before>

            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>ewayrapid/observer</class>
                        <method>sales_order_place_after</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>

            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>ewayrapid/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>ewayrapid/observer</class>
                        <method>checkout_type_onepage_save_order_after</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>

            <!--<sales_order_save_commit_before>
                <observers>
                    <sales_order_save_commit_before>
                        <class>ewayrapid/observer</class>
                        <method>sales_order_save_commit_before</method>
                    </sales_order_save_commit_before>
                </observers>
            </sales_order_save_commit_before>

            <sales_order_save_commit_after>
                <observers>
                    <sales_order_save_commit_after>
                        <class>ewayrapid/observer</class>
                        <method>sales_order_save_commit_after</method>
                    </sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>-->

            <checkout_submit_all_after>
                <observers>
                    <checkout_submit_all_after>
                        <class>ewayrapid/observer</class>
                        <method>checkout_submit_all_after</method>
                    </checkout_submit_all_after>
                </observers>
                <observers>
                    <eway_recurring_profile>
                        <class>ewayrapid/observer</class>
                        <method>createRecurringOrder</method>
                    </eway_recurring_profile>
                </observers>
            </checkout_submit_all_after>
        </events>

    </frontend>
    <admin>
        <routers>
            <ewayrapid_admin>
                <use>admin</use>
                <args>
                    <module>Eway_Rapid31_Adminhtml</module>
                    <frontName>ewayadmin</frontName>
                </args>
            </ewayrapid_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Eway_Rapid31>
                    <files>
                        <default>Eway_Rapid31.csv</default>
                    </files>
                </Eway_Rapid31>
            </modules>
        </translate>
        <layout>
            <updates>
                <ewayrapid>
                    <file>ewayrapid/layout.xml</file>
                </ewayrapid>
            </updates>
        </layout>
        <!--<menu>
            <system>
                <children>
                    <eway_admin_index>
                        <title>Eway Mass</title>
                        <action>ewayadmin/index/index</action>
                    </eway_admin_index>
                    <eway_admin_mass_authorised>
                        <title>Eway Mass</title>
                        <action>ewayadmin/index/massEwayAuthorised</action>
                    </eway_admin_mass_authorised>
                    <eway_admin_mass_pending>
                        <title>Eway Mass</title>
                        <action>ewayadmin/index/massPending</action>
                    </eway_admin_mass_pending>
                </children>
            </system>
        </menu>-->
    </adminhtml>
    <default>
        <payment>
            <ewayrapid_general>
                <active>0</active>
                <mode>sandbox</mode>
                <sandbox_endpoint>https://api.sandbox.ewaypayments.com/</sandbox_endpoint>
                <live_endpoint>https://api.ewaypayments.com/</live_endpoint>
                <payment_action>authorize_capture</payment_action>
                <connection_type>direct</connection_type>
                <can_edit_token>1</can_edit_token>
                <can_cancel_subscriptions>0</can_cancel_subscriptions>
                <block_fraud_customers>1</block_fraud_customers>
                <useccv>1</useccv>
                <cctypes>VI,MC</cctypes>
                <order_status>eway_captured</order_status>
                <allowspecific>0</allowspecific>
                <ssl_verification>0</ssl_verification>
                <transfer_cart_items>1</transfer_cart_items>
                <debug>0</debug>
                <billing_agreement_title>eWAY Billing Agreement</billing_agreement_title>
            </ewayrapid_general>
            <ewayrapid_notsaved>
                <model>ewayrapid/method_notsaved</model>
                <active>0</active>
                <title>Credit Card - eWAY (not saved)</title>
            </ewayrapid_notsaved>
            <ewayrapid_saved>
                <model>ewayrapid/method_saved</model>
                <active>0</active>
                <title>Credit Card - eWAY (saved)</title>
            </ewayrapid_saved>

        </payment>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Eway_Rapid31/>
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <eway_recurring_order>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ewayrapid/observer::cronRecurringOrder</model>
                </run>
            </eway_recurring_order>
            <eway_rapid31>
                <schedule>
                    <cron_expr>0 */3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ewayrapid/ewayCron::querySuspectFraud</model>
                </run>
            </eway_rapid31>
        </jobs>
    </crontab>
</config>