<?xml version="1.0"?>
<config>
    <modules>
        <Clearcode_Addshoppers>
            <version>1.1.5</version>
        </Clearcode_Addshoppers>
    </modules>

    <global>
        <models>
            <addshoppers>
                <class>Clearcode_Addshoppers_Model</class>
                <resourceModel>addshoppers_mysql4</resourceModel>
            </addshoppers>
<!--            <addshoppers_mysql4>
                <class>Clearcode_Addshoppers_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>clearcode_fbstore_category</table>
                    </category>
                    <category_product>
                        <table>clearcode_fbstore_category_product</table>
                    </category_product>
                </entities>
            </addshoppers_mysql4>-->
        </models>
        <resources>
            <addshoppers_setup>
                <setup>
                    <module>Clearcode_Addshoppers</module>
                    <class>Clearcode_Addshoppers_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addshoppers_setup>
            <addshoppers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addshoppers_write>
            <addshoppers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addshoppers_read>
        </resources>
        <blocks>
            <addshoppers>
                <class>Clearcode_Addshoppers_Block</class>
            </addshoppers>
        </blocks>
        <helpers>
            <addshoppers>
                <class>Clearcode_Addshoppers_Helper</class>
            </addshoppers>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Clearcode_Addshoppers after="Mage_Adminhtml">Clearcode_Addshoppers_Adminhtml</Clearcode_Addshoppers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <addshoppers>
                    <file>clearcode_addshoppers.xml</file>
                </addshoppers>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <addshoppers translate="title" module="addshoppers">
                                            <title>AddShoppers Settings</title>
                                        </addshoppers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <addshoppers>
                    <file>clearcode_addshoppers.xml</file>
                </addshoppers>
            </updates>
        </layout>
    </frontend>
    <default>
        <addshoppers>
            <general>
                <default_sort_by>1</default_sort_by>
            </general>
            <settings>
                <enabled>1</enabled>
                <use_schema>1</use_schema>
                <button_code></button_code>
                <active>0</active>
                <email></email>
                <password></password>
                <url></url>
                <platform>magento</platform>
                <category></category>
                <shopid>500975935b3a42793000002b</shopid>
                <social>1</social>
                <opengraph>1</opengraph>
                <logged></logged>
                <account_id></account_id>
            </settings>
        </addshoppers>
    </default>
</config>
