<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_Nbcore>
            <version>0.1.0</version>
        </NextBits_Nbcore>
    </modules>
    <frontend>
        <routers>
            <nbcore>
                <use>standard</use>
                <args>
                    <module>NextBits_Nbcore</module>
                    <frontName>nbcore</frontName>
                </args>
            </nbcore>
        </routers>
        <layout>
            <updates>
                <nbcore>
                    <file>nbcore.xml</file>
                </nbcore>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<nbcore>
				<use>admin</use>
				<args>
					<module>NextBits_Nbcore</module>
					<frontName>nbcore</frontName>
				</args>
			</nbcore>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										 <license translate="title" module="nbcore">
												<title>NextBits License Manager</title>
												<sort_order>20</sort_order>
										</license>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<nbcore>
					<file>nbcore.xml</file>
				</nbcore>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <nbcore>
                <class>NextBits_Nbcore_Model</class>
                <resourceModel>nbcore_mysql4</resourceModel>
            </nbcore>          
        </models>
        <blocks>
            <nbcore>
                <class>NextBits_Nbcore_Block</class>
            </nbcore>
        </blocks>
        <helpers>
            <nbcore>
                <class>NextBits_Nbcore_Helper</class>
            </nbcore>
        </helpers>		
    </global>
</config>