<?xml version="1.0"?>
<config>
	<tabs>
		<NextBits_Extensions translate="label" module="formbuilder">
			<label>NextBits - Extensions</label>
			<sort_order>100</sort_order>
		</NextBits_Extensions>
    </tabs>
	<sections>
		<license module="formbuilder">
				<label>License Manager</label>
				<tab>NextBits_Extensions</tab>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<groups>
					<formbuilder_license  translate="label">
						<label>FormBuilder License</label>
						<frontend_type>text</frontend_type>
						<sort_order>100</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						 <fields>
								<domains translate="label">
									<frontend_type>text</frontend_type>
									<!-- <frontend_model>nbcore/adminhtml_system_config_form_multiline</frontend_model>
									<backend_model>nbcore/system_config_backend_license</backend_model> -->
									<frontend_model>NextBits_Nbcore_Block_Adminhtml_System_Config_Form_Multiline</frontend_model>
									<backend_model>NextBits_Nbcore_Model_System_Config_Backend_License</backend_model>
									<sort_order>30</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>0</show_in_website>
									<show_in_store>0</show_in_store>
								</domains>
						</fields>
					</formbuilder_license>
				</groups>
		</license>
	</sections>
</config>