<?xml version="1.0" encoding="utf-8"?>
<!--
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 */ 
 -->
<config>
    <modules>
        <GoMage_Checkout>
            <version>0.0.3.2</version>
        </GoMage_Checkout>
    </modules>
    <global>
    	<blocks>
	        <gomage_checkout><class>GoMage_Checkout_Block</class></gomage_checkout>
	        <adminhtml>
                <rewrite>
                	<sales_order_totals>GoMage_Checkout_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                	<sales_order_invoice_totals>GoMage_Checkout_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
          			<sales_order_creditmemo_totals>GoMage_Checkout_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
	        	</rewrite>
	        </adminhtml>
	        <sales>
		        <rewrite>
	                <order_totals>GoMage_Checkout_Block_Sales_Order_Totals</order_totals>
	                <order_invoice_totals>GoMage_Checkout_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
	                <order_creditmemo_totals>GoMage_Checkout_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>              		
	                <order_info>GoMage_Checkout_Block_Sales_Order_Info</order_info>
	                <order_print>GoMage_Checkout_Block_Sales_Order_Print</order_print>
		        </rewrite>
	        </sales>
	        <checkout>
	        	<rewrite>
	        		<onepage_success>GoMage_Checkout_Block_Checkout_Success</onepage_success>
	        	</rewrite>
	        </checkout>	        			
	    </blocks>
	    <models>
            <gomage_checkout><class>GoMage_Checkout_Model</class></gomage_checkout>
            <core>
            	<rewrite>
            		<url_rewrite>GoMage_Checkout_Model_Url_Rewrite</url_rewrite>
            	</rewrite>
            </core>
            <tax>
            	<rewrite>
            		<calculation>GoMage_Checkout_Model_Tax_Calculation</calculation>
            	</rewrite>
            </tax>
            <tax_mysql4>
            	<rewrite>
            		<calculation>GoMage_Checkout_Model_Mysql4_Tax_Calculation</calculation>
            	</rewrite>
            </tax_mysql4>
            <sales>
            	<rewrite>
            		<quote_address>GoMage_Checkout_Model_Quote_Address</quote_address>            		
            	</rewrite>
            </sales>              
            <paypal>
            	<rewrite>
            		<api_nvp>GoMage_Checkout_Model_Paypal_Api_Nvp</api_nvp>
            	</rewrite>
            </paypal>            
        </models>
        <resources>
            <gomage_checkout_setup>
                <setup>
                    <module>GoMage_Checkout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gomage_checkout_setup>   
            <gomage_checkout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gomage_checkout_write>
            <gomage_checkout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gomage_checkout_read>
		</resources>
    	<fieldsets>
    		<sales_convert_quote>
    			<gomage_checkout_customer_comment><to_order>gomage_checkout_customer_comment</to_order></gomage_checkout_customer_comment>
    		</sales_convert_quote>
    	</fieldsets>
    	<helpers>
			<gomage_checkout><class>GoMage_Checkout_Helper</class></gomage_checkout>
			<authorizenet>
				<rewrite>
            		<data>GoMage_Checkout_Helper_Authorizenet_Data</data>
            	</rewrite>
			</authorizenet>
		</helpers>
		<rewrite>
			<gomage_checkout_onepage_cart>
                <from><![CDATA[#^/checkout/cart#]]></from>
                <to>/gomage_checkout/cart</to>
            </gomage_checkout_onepage_cart>
        </rewrite>
        <sales>
        	<order_invoice>
        		<totals>
        			<gomage_gift_wrap>
                        <class>gomage_checkout/order_invoice_total_giftwrap</class>
                    </gomage_gift_wrap>
        		</totals>	
        	</order_invoice>
        	<order_creditmemo>
        		<totals>
        			<gomage_gift_wrap>
                        <class>gomage_checkout/order_creditmemo_total_giftwrap</class>
                    </gomage_gift_wrap>
        		</totals>	
        	</order_creditmemo>	
        	<quote>
                <totals>                    
                    <gomage_gift_wrap>
                        <class>gomage_checkout/quote_giftwrap</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <renderer>gomage_checkout/checkout_giftwrap</renderer>
                        <admin_renderer>gomage_checkout/adminhtml_sales_order_create_totals_giftwrap</admin_renderer>
                    </gomage_gift_wrap>
                </totals>                
            </quote>
        </sales>
        <pdf>
        	<totals>
        		<gomage_gift_wrap translate="title">
                    <title>Gift Wrapping</title>
                    <source_field>gomage_gift_wrap</source_field>                    
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>250</sort_order>
                </gomage_gift_wrap>
        	</totals>	
        </pdf>	
        <fieldsets>
        	<sales_convert_quote_address>
        		<gomage_gift_wrap_amount><to_order>*</to_order></gomage_gift_wrap_amount>
        		<base_gift_wrap_amount_amount><to_order>*</to_order></base_gift_wrap_amount_amount>
        		<!--
        		<gomage_gift_wrap_amount><to_order_item_gomage_gift_wrap>*</to_order_item_gomage_gift_wrap></gomage_gift_wrap_amount>
        		<base_gomage_gift_wrap_amount><to_order_item_gomage_gift_wrap>*</to_order_item_gomage_gift_wrap></base_gomage_gift_wrap_amount>
        		-->
        	</sales_convert_quote_address>	
        	<sales_convert_order>
        		<gomage_gift_wrap_amount><to_quote_address_shipping>*</to_quote_address_shipping></gomage_gift_wrap_amount>
        		<base_gomage_gift_wrap_amount><to_quote_address_shipping>*</to_quote_address_shipping></base_gomage_gift_wrap_amount>
        	</sales_convert_order>	
        	<sales_convert_order_item>
        		<gomage_gift_wrap><to_quote_item>*</to_quote_item></gomage_gift_wrap>
                <gomage_gift_wrap_amount><to_quote_item>*</to_quote_item></gomage_gift_wrap_amount>
                <base_gomage_gift_wrap_amount><to_quote_item>*</to_quote_item></base_gomage_gift_wrap_amount>
        	</sales_convert_order_item>	
        	<sales_convert_quote_item>
                <gomage_gift_wrap><to_order_item>*</to_order_item></gomage_gift_wrap>
                <gomage_gift_wrap_amount><to_order_item>*</to_order_item></gomage_gift_wrap_amount>
                <base_gomage_gift_wrap_amount><to_order_item>*</to_order_item></base_gomage_gift_wrap_amount>
        	</sales_convert_quote_item>     
        </fieldsets>		
	</global>
	<frontend>
		<secure_url>
            <gomage_checkout_onepage>/gomage_checkout/onepage</gomage_checkout_onepage>
        </secure_url>
		<routers>
			<gomage_checkout>
				<use>standard</use>
	            <args>
	               <module>GoMage_Checkout</module>
	               <frontName>gomage_checkout</frontName>
	            </args>
	        </gomage_checkout>
		</routers>
		<layout>
            <updates>
                <gomage_checkout module="gomage_checkout">
                    <file>gomage-checkout.xml</file>
                </gomage_checkout>
            </updates>
        </layout>
        <events>
        	<gomage_checkout_save_quote_before>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </gomage_checkout_save_quote_before>
            <sales_order_load_after>
                <observers>
                    <collect_totals_after>
                        <type>model</type>
                        <class>gomage_checkout/observer</class>
                        <method>salesOrderLoad</method>
                    </collect_totals_after>
                </observers>
            </sales_order_load_after>
            <controller_action_predispatch_gomage_checkout_onepage_save>
                <observers>
                    <captcha_guest>
                        <class>gomage_checkout/observer</class>
                        <method>checkGoMageCheckout</method>
                    </captcha_guest>                    
                </observers>
            </controller_action_predispatch_gomage_checkout_onepage_save>
            <controller_action_postdispatch_gomage_checkout_onepage_save>
                <observers>
                    <payflowlink_save_order_onepage>
                        <class>gomage_checkout/observer</class>
                        <method>setResponseAfterSaveOrder</method>
                    </payflowlink_save_order_onepage>
                </observers>
            </controller_action_postdispatch_gomage_checkout_onepage_save>
        </events>
        <translate>
			<modules>
				<GoMage_Checkout>
					<files>
						<default>Gomage_LightCheckout.csv</default>
					</files>
				</GoMage_Checkout>
			</modules>
        </translate>
	</frontend>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_gomage_activation>
                <observers>
                    <collect_totals_after>
                        <type>model</type>
                        <class>gomage_checkout/observer</class>
                        <method>checkK</method>
                    </collect_totals_after>
                </observers>
            </admin_system_config_changed_section_gomage_activation>
        </events>
		<translate>
			<modules>
				<GoMage_Checkout>
					<files>
						<default>Gomage_LightCheckout.csv</default>
					</files>
				</GoMage_Checkout>
			</modules>
        </translate>
		<layout>
            <updates>
                <gomage_checkout module="gomage_checkout">
                    <file>gomage-checkout.xml</file>
                </gomage_checkout>
            </updates>
        </layout>
        <acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <gomage_checkout>
	                                    	<title>GoMage - Light Checkout</title>
	                                    </gomage_checkout>
	                                    <gomage_activation>
	                                    	<title>GoMage - Activation</title>
	                                    </gomage_activation>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
	<default>
		<sales>
            <totals_sort>
                <gomage_gift_wrap>25</gomage_gift_wrap>                
            </totals_sort>            
        </sales>
        <tax>
        	<cart_display> 
        		<gomage_gift_wrap>1</gomage_gift_wrap> 
        	</cart_display>  
        	<sales_display>
        		<gomage_gift_wrap>1</gomage_gift_wrap>
        	</sales_display>	
        </tax> 
		<gomage_checkout>
			<registration>
				<mode>0</mode>
			</registration>
			<ajax>
				<country>1</country>
				<region>1</region>
				<postcode>1</postcode>
				<city>1</city>				
			</ajax>			
			<termsandconditions>
				<enabled>0</enabled>
				<width>500</width>
				<height>300</height>
			</termsandconditions>
			<general>
				<enabled>0</enabled>
				<geoip_enabled>0</geoip_enabled>
				<title>GoMage LightCheckout</title>
				<deliverydate>1</deliverydate>
				<skin>orange</skin>
				<button_skin>default</button_skin>
				<disable_mobile>1</disable_mobile>
			</general>
			<address_fields>
				
				<firstname>1</firstname>
				<lastname>1</lastname>
				
				<company>0</company>
				<company_order>1</company_order>
				
				<country_id>1</country_id>
				<country_id_order>2</country_id_order>
				
				<region>req</region>
				<region_order>3</region_order>
				<postcode>req</postcode>
				<postcode_order>3</postcode_order>
				
				<city>req</city>
				<city_order>4</city_order>
				
				<street>req</street>
				<street_order>5</street_order>
				
				<telephone>req</telephone>
				<telephone_order>6</telephone_order>
				<fax>opt</fax>
				<fax_order>6</fax_order>
				
				<comments>0</comments>
				<newsletter>0</newsletter>
				
				<secure_window_width>600</secure_window_width>
				<secure_window_height>500</secure_window_height>
				
			</address_fields>
			<address_sort>	
				<company_order>1</company_order>
				<country_id_order>2</country_id_order>
				<region_order>3</region_order>
				<postcode_order>3</postcode_order>
				<city_order>4</city_order>
				<street_order>5</street_order>
				<telephone_order>6</telephone_order>
				<fax_order>6</fax_order>				
			</address_sort>
			<vat>
				<vat_verification>0</vat_verification>
				<show_checkbox>3</show_checkbox>
				<text_under>Buy without VAT (for EU only)</text_under>
			</vat>
			<gift_wrapping>
				<title>Gift Wrapping</title>
			</gift_wrapping>				
		</gomage_checkout>
		<customer>
            <captcha>
            	<always_for>
                    <gcheckout_onepage>1</gcheckout_onepage>                    
                </always_for>
            </captcha>
        </customer>        
		<captcha>
			<frontend>
                <areas>
                	<gcheckout_onepage>
                        <label>GoMage LightCheckout</label>
                    </gcheckout_onepage>
                </areas>
            </frontend>    
		</captcha>
	</default>
</config>