<?xml version="1.0"?>
<!--
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.2
 */ 
 -->
<config>
	<sections>
		<gomage_activation>
			<label>Activation</label>
            <tab>gomage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<lightcheckout translate="label">
					<label>GoMage LightCheckout v.3.2</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<key>
							<label>Activation Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</key>
						<websites translate="label">
							<label>Select Websites</label>
							<frontend_type>checkbox</frontend_type>
							<source_model>adminhtml/system_config_source_website</source_model>
							<frontend_model>gomage_checkout/adminhtml_config_form_renderer_website</frontend_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</websites>
					</fields>
				</lightcheckout>
			</groups>
		</gomage_activation>
		<gomage_checkout>
            <label>LightCheckout</label>
            <tab>gomage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>150</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<registration translate="label">
					<label>Registration</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<mode>
							<label>Checkout Mode</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_mode</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mode>
						<account_checkbox>
							<label>Create an Account checkbox</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_checkbox</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</account_checkbox>
					</fields>
				</registration>
				<ajax translate="label">
					<label>Ajax Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<country>
							<label>Enable Ajax for Country</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country>
						<region>
							<label>Enable Ajax for State/Region</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</region>
						<postcode>
							<label>Enable Ajax for Zip/Postcode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</postcode>
						<city>
							<label>Enable Ajax for City</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</city>						
					</fields>
				</ajax>
				<termsandconditions translate="label">
					<label>Terms &amp; Conditions</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable Terms and Conditions</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<content translate="label">
							<label>Terms and Conditions Text</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</content>
						<width>
							<label>Popup Width in Pixels</label>
							<frontend_type>text</frontend_type>
							<sort_order>200</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</width>
						<height>
							<label>Popup Height in Pixels</label>
							<frontend_type>text</frontend_type>
							<sort_order>250</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</height>
					</fields>
				</termsandconditions>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<frontend_model>gomage_checkout/adminhtml_system_config_fieldset_help</frontend_model>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						
						<enabled translate="label">
							<label>Enable LightCheckout</label>
							<frontend_type>select</frontend_type>
							
							<frontend_model>gomage_checkout/adminhtml_config_form_renderer_enabledisable</frontend_model>
							<source_model>gomage_checkout/adminhtml_system_config_source_enabledisable</source_model>
							
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						
						<skin translate="label">
							<label>LightCheckout Skin</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_skin</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</skin>
						
						<button_skin translate="label">
							<label>Buttons View</label>
							<frontend_type>select</frontend_type>
							<frontend_model>gomage_checkout/adminhtml_config_form_Renderer_buttonskin</frontend_model>
							<source_model>gomage_checkout/adminhtml_system_config_source_skin_button</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</button_skin>
						
						<default_country translate="label">
							<label>Default Country</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_country</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default_country>
						
						<default_shipping_method translate="label">
							<label>Default Shipping Method</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_shipping_allowedmethods</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default_shipping_method>
						
						<default_payment_method translate="label">
							<label>Default Payment Method</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_payment_allowedmethods</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default_payment_method>
						
						<title translate="label">
							<label>Page Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						
						<content translate="label">
							<label>Page Content</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</content>
  
						<different_shipping_enabled translate="label">
							<label>Enable Different Shipping Address</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_shippingaddressmode</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</different_shipping_enabled>		
						
						<allow_change_qty translate="label">
							<label>Allow to change Qty</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allow_change_qty>
						
						<allow_remove translate="label">
							<label>Allow to Remove Item from Checkout</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allow_remove>
												
						<disable_cart translate="label">
							<label>Disable Cart</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</disable_cart>
						
						<enable_discount translate="label">
							<label>Enable Discount Codes</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_discount</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_discount>
						
						<order_summary translate="label">
							<label>Show Order Summary on Success Page</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_summary>
						
						<disable_mobile translate="label">
							<label>Disable LightCheckout on Mobile Devices</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</disable_mobile>
												 						
					</fields>
				</general>
				
				<geoip translate="label">
					<label>GeoIP Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						
						<geoip_enabled translate="label">
							<label>Enable GeoIP for Country</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_model>gomage_checkout/form_element_geoip</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</geoip_enabled>
						
						<geoip_state_enabled translate="label">
							<label>Enable GeoIP for State/Province</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_model>gomage_checkout/form_element_geoip</frontend_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</geoip_state_enabled>

						<geoip_post_enabled translate="label">
							<label>Enable GeoIP for Zip/Postcode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_model>gomage_checkout/form_element_geoip</frontend_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</geoip_post_enabled>
						
						<geoip_city_enabled translate="label">
							<label>Enable GeoIP for City</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_model>gomage_checkout/form_element_geoip</frontend_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</geoip_city_enabled>
						<!--  
						<import translate="label">
                            <label>Import</label>
                            <frontend_type>import</frontend_type>
                            <backend_model>gomage_checkout/adminhtml_system_config_source_import</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
								<![CDATA[To use GeoIP you need to upload GeoliteCity.dat file to folder /media/geoip. Read more in the <a target="_blank" href="http://www.gomage.com/media/extensions/lightcheckout/GoMage_LightCheckout_Installation_Guide.pdf">Installation Guide</a>]]>
							</comment> 
                        </import> 
						-->
					</fields>
				</geoip>
				
				<address_fields translate="label">
					<label>Enable/Disable Fields</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					
					<fields>
						
						<address_book translate="label">
							<label>Show Address Book</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</address_book>
						 
						<company translate="label">
							<label>Company</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</company>
						
						<country_id translate="label">
							<label>Country</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country_id>
						<city translate="label">
							<label>City</label>
							<frontend_type>select</frontend_type>
							<!--<frontend_model>gomage_checkout/adminhtml_address</frontend_model>-->
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</city>
						<telephone translate="label">
							<label>Telephone</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</telephone>
						<fax translate="label">
							<label>Fax</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</fax>
						<region translate="label">
							<label>State/Region</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</region>
						<street translate="label">
							<label>Address</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</street>
						<postcode translate="label">
							<label>Zip/Postcode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_nooptreq</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</postcode>
												
						<comments translate="label">
							<label>Comments</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</comments>

						<newsletter translate="label">
							<label>Newsletter Checkbox</label>
							<frontend_type>select</frontend_type>							
							<source_model>gomage_checkout/adminhtml_system_config_source_newsletter</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</newsletter>
						
						<payments_buttons translate="label">
							<label>Show Payment Buttons</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_payment_buttons</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</payments_buttons>
						
						<secure_window_width>
							<label>3D Secure Window Width, px</label>
							<frontend_type>text</frontend_type>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secure_window_width>
						
						<secure_window_height>
							<label>3D Secure Window Height, px</label>
							<frontend_type>text</frontend_type>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secure_window_height>
						
					</fields>
				</address_fields>
				<address_sort translate="label">
					<label>Sort Address Fields</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					
					<fields>
						<company_order translate="label">
							<label>Company Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</company_order>
						<country_id_order translate="label">
							<label>Country Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country_id_order>
						<city_order translate="label">
							<label>City Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</city_order>
						<telephone_order translate="label">
							<label>Telephone Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</telephone_order>
						<fax_order translate="label">
							<label>Fax Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>41</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</fax_order>
						<region_order translate="label">
							<label>State/Region Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>51</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</region_order>
						<street_order translate="label">
							<label>Address Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>61</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</street_order>
						<postcode_order translate="label">
							<label>Zip/Postcode Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>71</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</postcode_order>
					</fields>
				</address_sort>
				<vat>
					
					<label>EU VAT/Tax Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					
					
					<fields>
						
						<enabled translate="label">
							<label>Enable EU VAT Option</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						
						<vat_verification translate="label">
							<label>Verification System</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_Vatverification</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</vat_verification>
						
						<!--
						<autocheck translate="label">
							<label>Auto Check VAT Number</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</autocheck>
						-->
						<country translate="label">
							<label>Base EU Country</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_country</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country>
						
						<base_country translate="label">
							<label>B2C &amp; B2B (Base EU Country)</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_countrymode</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</base_country>
						
						<if_not_base_country translate="label">
							<label>B2C &amp; B2B (within EU, not Base EU Country)</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_countrymode</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</if_not_base_country>
						
						
						<rule translate="label">
							<label>VAT/Tax Rule</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_taxrules</source_model>
							<sort_order>55</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</rule>
						
						<!--<vat_required translate="label">
							<label>Allow Buy without VAT</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</vat_required>-->
						
						<show_checkbox translate="label">
							<label>Show Buy without VAT checkbox</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_checkboxtax</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_checkbox>
						
						
						<text_under translate="label">
							<label>Text under VAT/Tax field</label>
							<frontend_type>text</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</text_under>
						
						<!-- -->
					</fields>
				</vat>
				<poll_settings>					
					<label>Poll Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>110</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<display>
							<label>Display Poll</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</display>
						<question translate="label">
							<label>Poll Question</label>
							<frontend_type>select</frontend_type>
							<source_model>gomage_checkout/adminhtml_system_config_source_poll_question</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Add New Poll at CMS -> Polls -> Poll Manager page</comment>
						</question>
					</fields>
				</poll_settings>
				<gift_wrapping>					
					<label>Gift Wrapping Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>120</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
							<label>Enable Gift Wrapping</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<price translate="label">
							<label>Gift Wrapping Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</price>
						<tax_class translate="label">
                            <label>Gift Wrapping Tax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_taxclass</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tax_class> 
					</fields>
				</gift_wrapping>						
			</groups>
		</gomage_checkout>
		<sales>
            <groups>
                <totals_sort>
                    <fields>
                        <gomage_gift_wrap translate="label">
                            <label>Gift Wrapping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </gomage_gift_wrap>
                    </fields>
                </totals_sort>
            </groups>
        </sales> 
	</sections>
</config>