<?xml version="1.0"?>
<config>
    <modules>
        <Treasurebox_Ajaxcartsuper>
            <version>0.1.0</version>
        </Treasurebox_Ajaxcartsuper>
    </modules>
    <frontend>
        <routers>
            <ajaxcartsuper>
                <use>standard</use>
                <args>
                    <module>Treasurebox_Ajaxcartsuper</module>
                    <frontName>ajaxcartsuper</frontName>
                </args>
            </ajaxcartsuper>
            <checkout>
                <args>
                    <modules>
                        <Treasurebox_Ajaxcartsuper before="Mage_Checkout">Treasurebox_Ajaxcartsuper</Treasurebox_Ajaxcartsuper>
                    </modules>
                </args>
            </checkout>
           <catalog>
                <args>
                    <modules>
                        <Treasurebox_Ajaxcartsuper before="Mage_Checkout">Treasurebox_Ajaxcartsuper</Treasurebox_Ajaxcartsuper>
                    </modules>
                </args>
            </catalog>
            <wishlist>
                <args>
                    <modules>
                        <Treasurebox_Ajaxcartsuper before="Mage_Wishlist">Treasurebox_Ajaxcartsuper_Wishlist</Treasurebox_Ajaxcartsuper>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <ajaxcartsuper>
                    <file>ajaxcartsuper.xml</file>
                </ajaxcartsuper>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxcartsuper>
				<use>admin</use>
				<args>
					<module>Treasurebox_Ajaxcartsuper</module>
					<frontName>ajaxcartsuper</frontName>
				</args>
			</ajaxcartsuper>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <treasurebox translate="title" module="ajaxcartsuper">
                <title>Treasurebox</title>
                <sort_order>71</sort_order>               
                <children>
                    <ajaxcartsuper translate="title" module="ajaxcartsuper">
                        <title>Super Ajaxcart</title>
                        <sort_order>35</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/ajaxcartsuper</action>
                            </configuration>
                        </children>
                    </ajaxcartsuper>
                </children>
            </treasurebox>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcartsuper>
                                            <title>Ajaxcart Super</title>
                                        </ajaxcartsuper>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>      
    <global>
        <models>
            <ajaxcartsuper>
                <class>Treasurebox_Ajaxcartsuper_Model</class>
                <resourceModel>ajaxcartsuper_mysql4</resourceModel>
            </ajaxcartsuper>
            <ajaxcartsuper_mysql4>
                <class>Treasurebox_Ajaxcartsuper_Model_Mysql4</class>
                <entities>
                    <ajaxcartsuper>
                        <table>ajaxcartsuper</table>
                    </ajaxcartsuper>
                </entities>
            </ajaxcartsuper_mysql4>
        </models>
        <resources>
            <ajaxcartsuper_setup>
                <setup>
                    <module>Treasurebox_Ajaxcartsuper</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcartsuper_setup>
            <ajaxcartsuper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcartsuper_write>
            <ajaxcartsuper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcartsuper_read>
        </resources>
        <blocks>
            <ajaxcartsuper>
                <class>Treasurebox_Ajaxcartsuper_Block</class>
            </ajaxcartsuper>
        </blocks>
        <helpers>
            <ajaxcartsuper>
                <class>Treasurebox_Ajaxcartsuper_Helper</class>
            </ajaxcartsuper>
        </helpers>
         <!--<rewrite>
            <treasurebox_ajaxcartsuper_wishlist_index>
                <from><![CDATA[#^/wishlist/#]]></from>
                <to>ajaxcartsuper/wishlist_index/</to>
            </treasurebox_ajaxcartsuper_wishlist_index>
        </rewrite>-->
    </global>
    <default>
        <ajaxcartsuper>
            <ajaxcartsuper_config>
                <enabled>1</enabled>
                <loading_image>default/loader.gif</loading_image>
                <bg_opacity>0.7</bg_opacity>
                <loading_bg>black</loading_bg>
		<using_ssl>0</using_ssl>
                <show_confirm>1</show_confirm>
            </ajaxcartsuper_config>
        </ajaxcartsuper>
    </default>
</config>